// Sets up the color pallete
$color-background: #172d13;
$color-box: #6bb77b;
$color-text: #fff;
$color-button-background: #d76f30;

#quote-box {
  background-color: $color-box;
  border-radius: 5px;
  padding: 20px;
  padding-bottom: 3%;
  max-width: 800px;
}

#quote {
  padding-bottom: 2%;
}

#quote-text,
#author-text {
  color: $color-text;
}

p {
  color: $color-text;
  padding: 2%;
  font-weight: 10;
}

#new-quote,
#twitter-button,
#mastodon-button {
  background-color: $color-button-background;
  border: 1px solid gray;
  color: $color-text;
}

#twitter-icon,
#mastodon-icon {
  color: #fff;
}

#quote-left,
#quote-right {
  color: #fff;
}

#body {
  background-color: $color-background;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  margin: auto;
  padding: auto;
}
